.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 40px 0;
  justify-content: center;
  gap: 30px;
  color: #9e9e9e;
}

.card {
  width: 330px;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 10px 20px, rgba(0, 0, 0, 0.15) 0px 5px 10px;

  }

  &__photo {
    height: 330px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    text-align: left;
    padding: 10px 20px 18px;
  }

  &__species {
    color: #558d30;
    font-weight: 500;
    font-size: 0.8em;
  }

  &__title {
    color: #6b71eb;
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.1;
  }
}
