$main: #090638;
$main-light: #0e076d;
$active: #646cff;

$grey: #9e9e9e;
$white: #ffffff;

$shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: $white;
  color: $main;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  position: relative;
  max-width: 1440px;
  padding: 1rem 2rem;
  text-align: center;
}

@import
'./components/Layout.scss';
