* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: #9e9e9e;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  position: relative;
  max-width: 1440px;
  padding: 15px 15px 0;
  text-align: center;
}

@import
  './layout/Layout',
  './components/Search/Search',
  './components/Card/Card',
  './components/Form/Form',
  './components/FormCard/FormCard';
